<h2> Search For Jokes </h2>

<form method="post" action="/search">
  <label for="search-input"> Keyword </label>
  <input  id="search-input" type="search" name="keyword">

  <button> Search </button>
</form>
